<div class="font2">
	<div *ngIf="bets.length == 0">
		<img class="empty-img" src="/assets/svg/empty-display.svg">
		<br>
		Looks like there are no bets created yet...
	</div>
	<div *ngIf="bets.length > 0">
		<div *ngFor="let bet of bets; let i = index;" class="bet-container">
			<div class="bet-top-container">
				<span class="left-nice-img">
					<span *ngIf="i % 2 == 0">
						<img class="small-bet-person" src="/assets/images/home-female.png">
					</span>
					<span *ngIf="i % 2 != 0">
						<img class="small-bet-person" src="/assets/images/home-male.png">
					</span>
				</span>
				<span class="font1 bet-info-container">
					<span class="bold f-size20">{{bet.betName}}</span>
					<br>
					<span class="end-date-info"><i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;{{bet.endDate | date:'fullDate'}}</span>
				</span>
				<span class="bet-amount-container">
					<i class="fa fa-usd" aria-hidden="true"></i>&nbsp;{{bet.amount}}
				</span>
				<a (click)="deleteBet(i)" class="button postfix delete-bet-btn hvr-glow"><i class="fa fa-times" aria-hidden="true"></i></a>
				<a class="button postfix add-members-btn hvr-glow"><i class="fa fa-user-plus" aria-hidden="true"></i></a>
				<a (click)="editBet(i)" class="button postfix edit-bet-btn hvr-glow"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
			</div>
			<div *ngIf="bet.edit" class="edit-container">
				Editing
			</div>
		</div>
	</div>
</div>