<nav>
  <a *ngIf="!loggedIn" [routerLink]="['/']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}" class="home-nav"><i class="fa fa-home" aria-hidden="true"></i></a>
  <a *ngIf="loggedIn" [routerLink]="['/dashboard']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}" class="home-nav"><i class="fa fa-home" aria-hidden="true"></i></a>
  <a *ngIf="loggedIn" [routerLink]="['/']"  [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}" class="new-bet-nav hvr-wobble-horizontal">New Bet</a>
  <a *ngIf="!loggedIn" (click)="attemptLogin()" class="session-toggle font2"><i class="fa fa-sign-in" aria-hidden="true"></i>&nbsp;&nbsp;Login/Signup</a>
  <a *ngIf="loggedIn" (click)="attemptLogout()" class="session-toggle font2"><i class="fa fa-sign-in" aria-hidden="true"></i>&nbsp;&nbsp;Log Out</a>
  <a *ngIf="loggedIn" (click)="settingsClick()" class="fright"><i class="fa fa-cogs" aria-hidden="true"></i></a>
</nav>
