:host {
  border: 0 solid #e1e1e1;
  display: block;
  height: 48px;
  padding: 0 16px;
  background-color: #4681FA;
  position: fixed;
  width: 100%;
  z-index: 10;
}

nav a {
  color: #FEFEFF;
  font-size: 25px;
  font-weight: 500;
  line-height: 48px;
  margin-right: 20px;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
}

.session-toggle {
  float: right;
  margin-right: 10px !important;
  font-size: 20px !important;
  font-weight: bold !important;
}

.session-toggle:hover {
  color: #FEE64E;
}

.new-bet-nav {
  padding-left: 20px;
  display: inline-block;
  position: relative;
  padding-right: 20px;
  font-size: 20px !important;
  background-color: rgba(254, 230, 78, 0.96);
  height: 40px;
  color: black !important;
  line-height: 2 !important;
}

.router-link-active {
  opacity: 0.5;
}
