:host {
  border: 0 solid #e1e1e1;
  display: block;
  height: 48px;
  padding: 0 16px;
}

nav a {
  color: #FEFEFF;
  font-size: 25px;
  font-weight: 500;
  line-height: 48px;
  margin-right: 20px;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
}

.session-toggle {
  float: right;
  margin-right: 10px !important;
  font-size: 20px !important;
  font-weight: bold !important;
}

.session-toggle:hover {
  color: #FEE64E;
}