:host {
  border: 0 solid #e1e1e1;
  display: block;
  height: 48px;
  padding: 0 16px;
  background-color: #4681FA;
  position: fixed;
  width: 100%;
  z-index: 10;
  height: inherit;
}

nav a {
  color: #FEFEFF;
  font-size: 25px;
  font-weight: 500;
  line-height: 48px;
  margin-right: 20px;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
}

.session-toggle {
  float: right;
  margin-right: 10px !important;
  font-size: 20px !important;
  font-weight: bold !important;
}

.session-toggle:hover {
  color: #FEE64E;
}

.new-bet-nav {
  padding-left: 20px;
  display: inline-block;
  position: relative;
  padding-right: 20px;
  font-size: 20px !important;
  background-color: rgba(254, 230, 78, 0.96);
  height: 40px;
  color: black !important;
  line-height: 2 !important;
}

.router-link-active {
  opacity: 0.5;
}

.settings {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border-top-color: white;
  border-top-width: 2px;
  border-top-style: dashed;
  margin-top: 10px;
}

.user-settings {
  margin-top: 10px;
  color: white;
}

.settings-container {
  margin-top: 10px;
  margin-bottom: 10px;
}

.setting {
  margin-top: 10px;
  margin-bottom: 10px;
  min-height: 55px;
  overflow: hidden;
}

.setting.left {
  border-style: dotted;
  border-width: 1px 0px;
}

.switch-fix {
  line-height: 5.4;
}
