<div class="row" id="home-top">
	<div class="small-12 columns home-container">
		<div class="home-container-top">
			<div *ngIf="isLoggedIn()" class="logged-in-db">
				<span class="f-size45 bold bg-black-opac home-title bet-view">Bet View</span>
				<sd-bet-view-dashboard [bets]="bets"></sd-bet-view-dashboard>
			</div>
			<div *ngIf="!isLoggedIn()" class="logged-out-db">
				<br><br>
				<div class="sk-folding-cube">
				  <div class="sk-cube1 sk-cube"></div>
				  <div class="sk-cube2 sk-cube"></div>
				  <div class="sk-cube4 sk-cube"></div>
				  <div class="sk-cube3 sk-cube"></div>
				</div>
				<br><br>
				<span class="font2">Please Log in or Sign up to View This Page.</span>
				<br><br>
				<a class="button large" (click)="attemptLogin()">Login/Signup</a>
			</div>
		</div>
		<div class="lower-container">
			<div class="transition-to-next">
				{{bottomQuote.text}}
				<br>
				<span class="bold">{{bottomQuote.author}}</span>
			</div>
		</div>
	</div>
</div>