<div class="small-12 columns home-container">
	<div class="home-container-top">
		<br><br>
		<span class="f-size45 bold bg-black-opac">Simple. Fast.</span><br>
		<span class="f-size25 font2">Never worry about forgetting bets you make again!</span>
		<br>
		<div class="home-workflow">
			<div class="workflow-left">
				<img class="workflow-left-svg" src="/assets/svg/checklist.svg"><br>
				<span class="f-size20">Signup/Login and Enter a few details about the bet.</span>
			</div>
			<div class="workflow-right">
				<img class="workflow-left-svg" src="/assets/svg/beer.svg"><br>
				<span class="f-size20">Feel free to forget about the bet now, we've got your back.</span>
			</div>
		</div>
	</div>
	<a (click)="smoothScroll('home-top')" class="lower-container">
		<div class="transition-to-next">
			<span>Back To Top <i class="fa fa-angle-up"></i></span>
		</div>
	</a>
</div>