<div class="row">
	<div [ngClass]="oneUser == true ? 'small-12 columns' : 'small-12 medium-5-5 columns'" class="home-container">
		<div class="home-container-top">
			<div *ngIf="oneUser" class="two-people-toggle">
				<a (click)="toggleUserAmount()">
					<i class="fa fa-users user-toggle" aria-hidden="true"></i>
				</a>
			</div>
			<div *ngIf="oneUser == false" class="two-people-toggle show-for-small-only">
				<a (click)="toggleUserAmount()">
					<i class="fa fa-user user-toggle" aria-hidden="true"></i>
				</a>
			</div>
			<img [src]="logo" class="logo">
		</div>
		<a (click)="test()">Click</a><br>
		{{tmpName}}
	</div>
	<div *ngIf="oneUser == false" class="small-0 medium-1 columns"></div>
	<div *ngIf="oneUser == false" class="small-12 medium-5-5 columns extra-margin-top home-container">
		<div class="home-container-top">
			<div class="two-people-toggle">
				<a (click)="toggleUserAmount()">
					<i class="fa fa-user user-toggle" aria-hidden="true"></i>
				</a>
			</div>

			<img [src]="logo" class="logo show-for-small-only">
		</div>
	</div>
</div>
<div class="row">
	<a class="small-12 medium-3 learn-more-container hvr-bounce-to-right" routerLink="/learn-more">How does it work?</a>
</div>