<div class="row" id="home-top">
	<div class="small-12 columns home-container">
		<div class="home-container-top">
			<span class="f-size45 bold bg-black-opac home-title" [class.home-title-adjusted]="step != 1">Instantly Create & Track Bets</span><br>
			<span class="f-size25 font2">Within 1 minute have a bet setup and saved permanently</span>
			<br>
	        <div *ngIf="step == 1" class="learn-more-input">
	          <input [(ngModel)]="betName" class="big-input" type="text" placeholder="Name your bet">
	          <a (click)="transitionToNext()" class="button postfix big-btn-home hvr-icon-fade">Go</a>
	          <span *ngIf="betNameErr" class="font2 error-color">Please input a bet name to continue..</span>
	        </div>
	        <div class="signup-flow-bottom">
	        	<span class="font2">Do you never know when someone owes you money for a bet? Never worry again!</span>
	        </div>
	        <div *ngIf="step == 2" class="step-2-container">
	        	<span class="step-2-title bg-black-opac font1"><span class="bold">Bet Name:</span>
		        	<br>
		        	<a *ngIf="!betNameStep2" (click)="toggleValue('bet')" class="white">
			        	<span class="font2 bold yellow">
			        		{{betName}}&nbsp;<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
			        	</span>
			        </a>
			       	<input *ngIf="betNameStep2" [(ngModel)]="betName" class="big-input no-margin-bot" type="text" placeholder="Name your bet">
	          		<a (click)="saveVal('bet')" *ngIf="betNameStep2" class="button postfix big-btn-home hvr-icon-fade no-margin-bot">Save</a>
	          		<span *ngIf="betNameErr" class="font2 error-color">Please input a bet name to continue..</span>
	          		<br>
					<hr class="style18-white">
	        	</span>
	        	<br>
	        	<span class="step-2-body bg-black-opac-light font2">
					<a (click)="toggleValue('amount')" *ngIf="!betObj.amountEdit" class="inherit-color">
						<span class="font2"><span class="bold">Bet Amount:</span> <i class="fa fa-usd dollar-sign" aria-hidden="true"></i> <span class="m-amount yellow">{{betObj.amount}}&nbsp;<i class="fa fa-pencil-square-o" aria-hidden="true"></i></span>
						</span>
					</a>
			       	<input *ngIf="betObj.amountEdit" [(ngModel)]="betObj.amount" class="big-input no-margin-bot" type="number" min="0.00" step="0.01" placeholder="Enter an amount for the bet">
	          		<a (click)="saveVal('amount')" *ngIf="betObj.amountEdit" class="button postfix big-btn-home hvr-icon-fade no-margin-bot">Save</a>
		        	<br><br>
		        	Test
	        	</span>
	        </div>
		</div>
		<a (click)="smoothScroll('learn-more-home')" class="lower-container">
			<div class="transition-to-next">
				<span>Learn More <i class="fa fa-angle-down"></i></span>
			</div>
		</a>
	</div>
</div>
<sd-go-to-learn-more></sd-go-to-learn-more>
<span class="hide-for-small-only"><br></span>
<div class="row" id="learn-more-home">
	<div class="small-12 columns home-container">
		<div class="home-container-top">
			<br><br>
			<span class="f-size45 bold bg-black-opac">Simple. Fast.</span><br>
			<span class="f-size25 font2">Never worry about forgetting bets you make again!</span>
			<br>
			<div class="home-workflow">
				<div class="workflow-left">
					<img class="workflow-left-svg" src="/assets/svg/checklist.svg"><br>
					<span class="f-size20">Signup/Login and Enter a few details about the bet.</span>
				</div>
				<div class="workflow-right">
					<img class="workflow-left-svg" src="/assets/svg/beer.svg"><br>
					<span class="f-size20">Feel free to forget about the bet now, we've got your back.</span>
				</div>
			</div>
		</div>
		<a (click)="smoothScroll('home-top')" class="lower-container">
			<div class="transition-to-next">
				<span>Back To Top <i class="fa fa-angle-up"></i></span>
			</div>
		</a>
	</div>
</div>
<span class="hide-for-small-only"><br></span>