.user-toggle {
	color: #FEFEFF;
    font-size: 25px;
    margin-top: 10px;
    float: right;
    margin-right: 20px;
    border: solid;
    padding: 5px;
}

.user-toggle:hover {
	color: #FFE891;
}

.logo {
	width: 200px;
	margin-top: 10px;
	margin-left: 15px;
}

.toggle-helper {
	width: 150px;
    float: right;
    color: white;
    margin-top: 5px;
    margin-right: 10px;
}

.two-people-toggle {
	width: 100%;
	height: 120px;
}

.home-workflow {
	width: 100%;
	height: 250px;
	margin-top: 65px;
}

.workflow-left {
	width: 50%;
	float: left;
	text-align: center;
}

.workflow-right {
	width: 50%;
	float: right;
	text-align: center;
}

.workflow-left-svg {
	height: 125px;
}

.signup-flow-bottom {
	position: absolute;
    bottom: 110px;
    text-align: center;
    width: 100%;
}

.home-title {
	display: inline-block;
    margin-top: 75px;
}

.step-2-container {
	width: 70%;
	margin: auto;
	margin-top: 15px;
	display: none;
}

.step-2-title, .step-2-body {
	width: 100%;
    display: inline-block;
}

.bet-name-container {
	background-color: rgba(255, 255, 255, 0.8);
    color: black;
    padding: 5px;
    display: inline-block;
    margin-top: 5px;
    width: 80%;
}

.bet-name-container.updated {
	width: 60%;
}

.edit-button {
	display: inline-block;
    float: right;
    margin-top: 4px;
}

@media (min-width: 40em) {
	.medium-5-5 {
		flex: 0 0 45.8333375%;
	    max-width: 45.8333375%;
	}
}

@media (max-width: 40em) {
	.extra-margin-top {
		margin-top: 20px;
	}
	.home-container {
		min-height: 100px;
	}
	.workflow-left, .workflow-right {
		padding: 10px;
		padding-bottom: 20px;
	}
	.home-workflow {
		height: 270px;
		margin-top: 35px;
	}
	.home-title {
		margin-top: 35px;
		padding-left: 0px !important;
		padding-right: 0px !important;
	}
	.signup-flow-bottom {
		display: none;
	}
}