.user-toggle {
	color: #FEFEFF;
    font-size: 25px;
    margin-top: 10px;
    float: right;
    margin-right: 20px;
    border: solid;
    padding: 5px;
}

.bet-name-adjust {
	display: inline-block;
    margin-right: -16px;
}

.user-toggle:hover {
	color: #FFE891;
}

.logo {
	width: 200px;
	margin-top: 10px;
	margin-left: 15px;
}

.toggle-helper {
	width: 150px;
    float: right;
    color: white;
    margin-top: 5px;
    margin-right: 10px;
}

.two-people-toggle {
	width: 100%;
	height: 120px;
}

.signup-flow-bottom {
	position: absolute;
    bottom: 110px;
    text-align: center;
    width: 100%;
}

.step-2-container {
	width: 70%;
	margin: auto;
	margin-top: 15px;
	display: none;
	background-color: #e6e3f3;
	color: black;
	border-width: 2px;
	border-style: dashed;
	margin-bottom: 20px;
}

.step-2-title, .step-2-body {
	width: 100%;
    display: inline-block;
}

.bet-name-container {
	background-color: rgba(255, 255, 255, 0.8);
    color: black;
    padding: 5px;
    display: inline-block;
    margin-top: 5px;
    width: 80%;
    border-width: 1px;
    border-style: solid;
}

.bet-name-container.updated {
	width: 60%;
}

.bet-name-container.full {
	width: 90%;
}

.edit-button {
	display: inline-block;
    float: right;
    margin-top: 4px;
}

.money-img {
	height: 64px;
}

.divider-bet-init {
	width: 90%;
    border-top: 3px double #8c8b8b;
}

.date-chooser-home {
	width: 60%;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    text-align: center;
    height: 50px;
}

.date-chooser-home.bet {
	width: 100%;
	margin-bottom: 0px;
}

.bet-edit-btn {
	width: 15%;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: bold;
    height: 45px;
    line-height: 1.4;
}

.left-icon-container {
	width: 10%;
	display: inline-block;
	float: left;
	margin-top: 5px;
}

.i-bet-container-top {
	display: inline-block;
	width: 100%;
}

.small-bet-person {
	height: 35px;
	display: inline-block;
}

.small-bet-person.left {
	float: left;
}

.small-bet-person.right {
	float: right;
}

.create-bet-btn {
	background-color: #FEE64E;
    height: 65px;
    margin-top: 10px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: 400;
    font-size: 25px;
    line-height: 1.7;
    color: black;
    box-shadow: 5px 5px 1px rgba(136, 136, 136, 0.56);
    font-family: 'Raleway', sans-serif;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    display: inline-block;
}

.not-logged-in-save-bet {
	width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border-style: dashed;
    border-width: 1px;
}

.not-logged-in-helpfultip {
	display: inline-block;
    margin-top: 10px;
    width: 80%;
}

@media (min-width: 40em) {
	.medium-5-5 {
		flex: 0 0 45.8333375%;
	    max-width: 45.8333375%;
	}
}

@media (max-width: 40em) {
	.extra-margin-top {
		margin-top: 20px;
	}
	.home-container {
		min-height: 100px;
	}
	.workflow-left, .workflow-right {
		padding: 10px;
		padding-bottom: 20px;
	}
	.home-workflow {
		height: 270px;
		margin-top: 35px;
	}
	.home-title {
		margin-top: 35px;
		padding-left: 0px !important;
		padding-right: 0px !important;
	}
	.signup-flow-bottom {
		display: none;
	}
	.step-2-container {
		width: 95%;
	}
	.bet-name-container.updated {
		width: 80%;
	}
	.currency-container {
		width: 10% !important;
	}
	.big-input.currency {
		width: 90% !important;
	}
	.date-chooser-home {
		width: 80%;
	}
	.create-bet-btn {
		width: 80%;
	}
}