<div class="row">
	<div class="small-12 columns home-container">
		<div class="home-container-topY">
			<span class="f-size25 top-title">Always forget the <span class="hvr-underline-from-left">bets</span> you make?<br>
				<span class="f-size45 bold">Easily track all your <span class="hvr-underline-from-left">bets</span> in one place</span>
			    <div class="large-12 columns">
			      <div class="row collapse postfix-round">
			        <div class="learn-more-input">
			          <input class="big-input" type="text" placeholder="What is the bet about?">
			          <a href="#" class="button postfix big-btn hvr-icon-fade">Go</a>
			        </div>
			      </div>
			    </div>
			</span>
		</div>
		<a>
			<div class="transition-to-next">
				<span>Learn More <i class="fa fa-angle-down"></i></span>
			</div>
		</a>
	</div>
</div>
<div class="row">
	<a class="small-12 medium-3 return-home hvr-bounce-to-left" routerLink="/">
		Make a new bet
	</a>
</div>