<div class="row">
	<div class="small-12 columns home-container">
		<div class="home-container-topY">
			<span class="f-size25 top-title">Always forget the <span class="hvr-underline-from-left">bets</span> you make?<br>
				<span class="f-size45 bold">Easily track all your <span class="hvr-underline-from-left">bets</span> in one place</span>
			</span>
		</div>
	</div>
</div>
<div class="row">
	<a class="small-12 medium-3 return-home hvr-bounce-to-left" routerLink="/">
		Make a new bet
	</a>
</div>