<div class="row">
	<div class="small-12 columns home-container">
		<div class="home-container-topY">
			<span class="f-size25 top-title">Always forget the <span class="hvr-underline-from-left">bets</span> you make?<br>
				<span class="f-size45 bold">Easily track all your <span class="hvr-underline-from-left">bets</span> in one place</span>
			    <div class="large-12 columns">
			      <div class="row collapse postfix-round">
			        <div class="learn-more-input">
			          <input class="big-input" type="text" placeholder="What is the bet about?">
			          <a href="#" class="button postfix big-btn hvr-icon-fade">Go</a>
			        </div>
			      </div>
			    </div>
			</span>
		</div>
		<a (click)="smoothScroll('learn-more-box-2')" class="lower-container">
			<div class="transition-to-next">
				<span>Learn More <i class="fa fa-angle-down"></i></span>
			</div>
		</a>
	</div>
</div>
<div class="row">
	<a class="small-12 medium-3 return-home hvr-bounce-to-left" routerLink="/">
		Make a new bet
	</a>
</div>
<span class="hide-for-small-only"><br><br><br></span>
<div class="row" id="learn-more-box-2">
	<div class="small-12 columns home-container">
		<div class="home-container-topY">
			<br><br>
			<span class="step-notchs">Step 1.</span><br>
			<span class="f-size45">Enter a few details about the <span class="hvr-underline-from-left">bet</span></span><br>
			<span class="f-size25 font2">Things like what the winner gets, when the <span class="hvr-underline-from-left">bet</span> will be decided, etc.</span>
			<br><br>
			<div class="example-container">
				<img class="example-man" src="/assets/images/man.png">
				<img class="example-woman" src="/assets/images/wooman.png">
				<hr class="style18">
				<span class="font2">
					<span class="bold">George Michael</span> V.S. <span class="bold">Susie McGeorge</span>
				</span>
				<br>
				<span class="f-size25">NBA Finals</span>
				<hr class="style18">
				<span class="font2 inner-notes">Bet Amount: <i class="fa fa-usd dollar-sign" aria-hidden="true"></i> <span class="m-amount">12.00</span>
				</span>
				<br>
				<span class="font2 inner-notes">Expected End Date: <i class="fa fa-calendar-check-o f-size20" aria-hidden="true"></i> <span class="m-amount">{{twoWeeksFromNow}}</span></span>
				<br>
				<span class="font2 inner-notes">Bet Conditions: 
					<br>
					<span class="bold">George Michael</span> bets on <span class="bold">Golden State</span>
					<br>
					<span class="bold">Susie McGeorge</span> bets on <span class="bold">Cleveland Cavaliers</span>
				</span>
				<hr class="style18">
				<span class="inner-notes bold">Confirmed On:
					<br>
					<i class="fa fa-calendar-check-o f-size20" aria-hidden="true"></i> <span class="m-amount">{{twoDaysAgo}}</span> by <span class="bold">George Michael</span>
					<br>
					<i class="fa fa-calendar-check-o f-size20" aria-hidden="true"></i> <span class="m-amount">{{oneDayAgo}}</span> by <span class="bold">Susie McGeorge</span>
				</span><br>
				<span class="inner-notes">
					Bet State:
					<br>
					<span class="bold">Active <i class="fa fa-check dollar-sign" aria-hidden="true"></i></span>
				</span>
			</div>
			<br><br><br>
		</div>
		<a (click)="smoothScroll('learn-more-box-3')" class="lower-container">
			<div class="transition-to-next">
				<span>Step 2 <i class="fa fa-angle-down"></i></span>
			</div>
		</a>
	</div>
</div>
<div class="row">
	<a class="small-12 medium-3 return-home hvr-bounce-to-left" routerLink="/">
		Make a new bet
	</a>
</div>
<span class="hide-for-small-only"><br><br><br></span>
<div class="row" id="learn-more-box-3">
	<div class="small-12 columns home-container">
		<div class="home-container-topY">
			<br><br>
			<span class="step-notchs">Step 2.</span><br>
			<span class="f-size45">Add all the participants into the <span class="hvr-underline-from-left">bet</span></span><br>
			<span class="f-size25 font2">Add as many members as your <span class="hvr-underline-from-left">bet</span> needs</span>
			<br><br>
			<i class="fa fa-arrow-down f-size25" aria-hidden="true"></i>
			<br>
			<span class="f-size25">Then, Lock in your bets!</span><br>
			<img src="/assets/images/crown.png"><br>
			<span class="f-size25">Figure out your winner, and track who has paid and who hasn't</span>
		</div>
		<a (click)="smoothScroll('learn-more-box-3')" class="lower-container">
			<div class="transition-to-next">
				<span>Step 2 <i class="fa fa-angle-down"></i></span>
			</div>
		</a>
	</div>
</div>
<div class="row">
	<a class="small-12 medium-3 return-home hvr-bounce-to-left" routerLink="/">
		Make a new bet
	</a>
</div>