.return-home {
	background-color: #34A2FE;
	min-height: 65px;
	float: left;
	margin-top: 20px;
	text-align: center;
	font-weight: 400;
	font-size: 25px;
	line-height: 3;
	color: black;
    box-shadow: 5px 5px 1px rgba(136, 136, 136, 0.56);
    font-family: 'Raleway', sans-serif;
}

.top-title {
    padding-top: 130px;
    display: block;
}

.learn-more-input {
	width: 60%;
	margin: auto;
	margin-top: 20px;
}

.big-input, .big-btn {
	float: left;
	height: 45px;
}

.big-input {
	width: 85%;
}

.big-btn {
	width: 15%;
	background-color: #34A2FE;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    line-height: 0.5;
    font-weight: bold;
}

.transition-to-next {
	text-align: center;
    position: absolute;
    bottom: 10px;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    color: black;
}

.step-notchs {
	padding: 5px;
	border: solid;
	border-radius: 50%;
}

.example-container {
	width: 50%;
    margin: auto;
    background-color: #E6E3F3;
    padding-top: 10px;
    overflow: hidden;
}

.example-woman {
	margin-left: 10px;
}

.example-man {
	margin-right: 10px;
}

hr.style18 { 
  border-style: solid; 
  border-color: #8c8b8b; 
  border-width: 1px 0 0 0; 
  border-radius: 20px; 
  width: 90%;
  margin-top: 10px;
} 

hr.style18:before { 
  display: block; 
  content: ""; 
  height: 30px; 
  margin-top: -31px; 
  border-style: solid; 
  border-color: #8c8b8b; 
  border-width: 0 0 1px 0; 
  border-radius: 20px; 
}

.dollar-sign {
	color: #20AD22;
    font-size: 20px;
}

.m-amount {
	font-size: 20px;
	font-weight: bold;
}

.inner-notes {
	margin-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
}

@media (max-width: 64em) {
	.big-btn, .big-input {
		width: 100%;
	}
	.big-input {
		margin-bottom: 0px;
	}
	.learn-more-input {
		width: 80%;
	}
}

@media (max-width: 40em) {
	.top-title {
		padding-top: 25px;
	}
	.learn-more-input {
		width: 100%;
	}
	.example-container {
		width: 85%;
	}
	.example-woman, .example-man {
		margin-left: 0px;
		margin-right: 0px;
	}
	.return-home {
		margin-top: 0px;
	}
}